[submodule "vendor/liquidprompt"]
	path = vendor/liquidprompt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "vendor/z"]
	path = vendor/z
	url = https://github.com/rupa/z.git
[submodule "link/.vim/bundle/vim-gitgutter"]
	path = link/.vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "link/.vim/bundle/ctrlp.vim"]
	path = link/.vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "link/.vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
