# Lots of junk goes in here.
/caches/
/backups/

# Ignore plugin submodules managed by vim-plug
link/.vim/plugins

# Miscellaneous files to ignore
.netrwhist

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts
